SPRING_DATASOURCE_URL=jdbc:postgresql://100.92.167.33:5432/bitcomputer
SPRING_DATASOURCE_USERNAME=bitcomputer_app
SPRING_DATASOURCE_PASSWORD=replace-me
BACKGROUND_CHECK_API_URL=https://54capvm12g.execute-api.ap-northeast-2.amazonaws.com
SEED_ENABLED=true
SEED_ADMIN_EMAIL=admin@example.invalid
SEED_ADMIN_PASSWORD=replace-me
SEED_EMPLOYEE_EMAIL=employee@example.invalid
SEED_EMPLOYEE_PASSWORD=replace-me
SEED_TERMINATED_EMAIL=terminated@example.invalid
SEED_TERMINATED_PASSWORD=replace-me
